.container {
	display: flex;
	align-items: center;

	height: 35px;
	margin-top: 20px;
}

.container button {
	cursor: pointer;

	background-color: var(--white-blue);
}

.listPage {
	display: flex;
	align-items: center;

	height: 100%;
	gap: 5px;
}

.listPage li {
	height: 100%;
}

.bttn {
	height: 100%;
	padding: 0 10px;

	white-space: nowrap;

	border: none;
	border-radius: 5px;
}

.start {
	margin-right: 15px;
}

.end {
	margin-left: 15px;
}

.pageItem {
	height: 100%;
	padding: 0 10px;

	border: none;
}

.activePage {
	color: var(--white);
	background-color: var(--black-blue);
}

.bttn:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

@media screen and (max-width: 480px) {
	.container {
		justify-content: center;
	}

	.start {
		margin-right: 10px;
	}

	.end {
		margin-left: 10px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		flex-direction: column;

		height: max-content;
		column-gap: 0;
		row-gap: 10px;
	}

	.container button {
		padding: 8px 10px;
	}

	.start {
		margin: 0;
	}

	.end {
		margin: 0;
	}
}
