.input {
	width: 100%;
	padding: 7px 8px;

	color: var(--black);
	border-color: transparent;
	border-radius: 8px;
	outline: none;
	background-color: var(--white);
	background-clip: padding-box;
}

.expandingInput:focus,
.input:focus {
	border-color: var(--black-blue);
	box-shadow: 0 0 0 1px var(--black-blue);
}

.input::placeholder {
	opacity: 0 4;
}

.container {
	width: 100%;
}

.label {
	display: block;

	margin-bottom: 5px;
	margin-left: 2px;

	color: var(--white);
}

.input[type="date"] {
	border-radius: 0;
	height: 30px;
	width: max-content;
	padding: 5px;
	border-color: 1px solid var(--border-color);
	box-shadow: none;
}

.error {
	border-color: var(--red) !important;
}
