.button {
	padding: 5px 10px;

	cursor: pointer;

	color: var(--white);
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease-in;
}

.button:focus {
	background-color: var(--link-color);
}

.button:hover {
	background-color: var(--link-color);
}

.fill {
	background-color: var(--black-blue);
}

.outlined {
	border: 2px solid var(--black-white);
	background-color: transparent;
}
