.button {
	padding: 5px 10px;

	color: var(--white);
	border: none;
	border-radius: 10px;
}

.fill {
	background-color: var(--black-blue);
}

.outlined {
	border: 2px solid var(--black-white);
	background-color: transparent;
}
