.container {
	display: grid;
	gap: 10px;
	grid-template-columns: 50px 1fr;
}

.mockImage {
	height: 65px;

	background-color: green;
}

.top {
	display: flex;
	align-items: center;
	gap: 10px;
}

.rating {
	padding: 4px;

	color: #d0d0d0;
	border-radius: 5px;
	background-color: #5cb85c;

	font-size: 14px;
}
