.body {
	margin-bottom: 20px;
}

.actionPanel {
	padding: 10px;

	border-radius: 5px;
	background-color: #ccc;
	margin-bottom: 20px;
}

.actionTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 15px;
}

.actionFooter {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.createdAt {
	flex: 1 1 auto;
	text-align: right;
}

@media screen and (max-width: 480px) {
	.actionFooter button {
		flex: 1 1 100%;
	}

	.actionTop p {
		flex: 1 1 100%;
	}
}
