.layout {
	display: flex;
	overflow-x: hidden;

	max-width: 1400px;
	margin: 0 auto;
	gap: 10px;
}

.container {
	width: 100vw;
	min-height: 100vh;

	background-color: var(--gray);
}

.main {
	flex: 1 1 75%;

	padding: 15px;
}
