.top {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: 10px;
	gap: 10px;
}

.genres,
.tags {
	display: flex;
	align-items: center;
	gap: 5px;

	margin-bottom: 5px;
}

.genresList,
.tagList {
	display: flex;
	align-items: center;
	gap: 5px;
}

.description {
	margin-bottom: 5px;
}

.read {
	padding: 8px 12px;

	border-radius: 3px;
}

@media screen and (max-width: 480px) {
	.title {
		flex: 1 1 100%;
	}
}
