.container {
	display: grid;
	grid-template-columns: 70px 1fr;
	gap: 10px;
	margin-bottom: 15px;
}

.mockImage {
	height: 70px;
	background-color: green;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.title {
	font-weight: 700;
}

.createdAt {
	opacity: 0.8;
}

.body {
	margin-bottom: 5px;
	line-height: 1.5;
}

.action {
	display: flex;
	align-items: center;
	gap: 10px;
}

.action button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--black-blue);
}
