.textarea {
	overflow-y: hidden;

	width: 100%;
	min-height: 60px;
	padding: 8px;

	resize: none;
	transition: all 0.1s;
	word-wrap: break-word;

	border: none;
	border-radius: 5px;
	outline-color: var(--border-color);
}

.label {
	display: block;

	margin-bottom: 5px;
	margin-left: 2px;

	color: var(--white);
}

.onScroll {
	overflow-y: auto;
}

.onScroll::-webkit-scrollbar {
	width: 8px;
}

.onScroll::-webkit-scrollbar-track {
	background: var(--border-color);
}

.onScroll::-webkit-scrollbar-thumb {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background-color: var(--black-blue);
}

.error {
	border-color: var(--red) !important;
}
