.close {
	right: 5px;
	top: 5px;
	color: var(--red);
	transform: rotate(45deg);
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
}

.container {
	position: relative;
	width: 50%;
	height: auto;
	/* overflow-x: hidden; */
	max-height: 650px;
	/* overflow-y: auto; */
	border-radius: 5px;
	background-color: var(--white);
}

.open {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 780px) {
	.container {
		width: 85%;
	}
}
