.container {
	background-color: #9ba1f3;
	padding: 10px;
	border-radius: 5px;
}

.top {
	display: flex;
	gap: 20px;
	align-items: center;
}

.title {
	flex: 1 1 auto;
}

.sortTypes {
	display: flex;
	gap: 10px;
}

.sortType {
	cursor: pointer;
}

.sortType button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.description {
	margin-top: 10px;
}
