.container {
	margin-bottom: 20px;

	padding-bottom: 5px;
	border-bottom: 1px solid var(--black-white);
}

.top {
	display: flex;
	gap: 20px;

	align-items: center;
}

.title {
	flex: 1 1 auto;
}

.sortTypes {
	display: flex;
	gap: 10px;
}

.sortType {
	cursor: pointer;
}

.sortType button {
	cursor: pointer;

	border: none;
	background-color: transparent;
}

.description {
	margin-top: 10px;
}

@media screen and (max-width: 480px) {
	.top {
		flex-direction: column;
		gap: 5px;
	}

	.description {
		text-align: center;
	}
}
