.container {
	display: flex;
	gap: 10px;

	align-items: center;
}

.radio {
	display: none;
}

.reverse {
	flex-direction: row-reverse;
}

.label {
	position: relative;

	cursor: pointer;

	font-weight: 500;
}

.label::before {
	position: relative;
	top: 1px;

	display: inline-block;

	width: 10px;
	height: 10px;
	margin: 0 5px;

	content: "";

	border: 1px solid rgb(27 25 25);
	border-radius: 50%;
}

.label::after {
	position: absolute;
	top: 4px;
	left: 6.6px;

	width: 9px;
	height: 9px;

	content: "";
	transition: all 0.3s;

	border-radius: 50%;
}

.radio:checked + .label::after {
	background-color: black;
}
