.container {
	margin-bottom: 10px;
}

.container label {
	color: inherit;

	font-weight: 600;
}

.input {
	border-color: 1px solid var(--border-color);
	border-radius: 2px;
}

.textarea {
	height: 80px;

	border: 1px solid var(--border-color);
	border-radius: 2px;
}
