.signIn {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top {
	width: 100%;
	display: flex;
}

.top > div {
	flex: 1 1 50%;
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
	background-color: var(--border-color);
}

.content {
	padding: 20px;
}

.selected {
	background-color: var(--white) !important;
}

.close {
	position: absolute;
	right: -35px;
	top: -45px;
	transform: rotate(45deg);
	font-size: 45px;
	color: var(--white);
	background-color: transparent;
	border: none;
}

@media screen and (max-width: 780px) {
	.close {
		right: 0px;
	}
}

.input {
	border-radius: 2px;
	height: 40px;
	border: 1px solid var(--border-color);
}

.labelInput {
	font-weight: 600;
	color: inherit;
}

.textarea {
	border-radius: 2px;
	border: 1px solid var(--border-color);
}
