.signIn {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top {
	display: flex;

	width: 100%;
}

.top > button {
	flex: 1 1 50%;

	padding: 20px 0;

	cursor: pointer;
	text-align: center;

	border: none;
	background-color: var(--border-color);
}

.content {
	padding: 20px;
}

.selected {
	background-color: var(--white) !important;
}

.close {
	position: absolute;
	top: -45px;
	right: -35px;

	transform: rotate(45deg);

	color: var(--white);
	border: none;
	background-color: transparent;

	font-size: 45px;
}

@media screen and (max-width: 780px) {
	.close {
		right: 0;
	}
}

.input {
	height: 40px;

	border: 1px solid var(--border-color);
	border-radius: 2px;
}

.labelInput {
	color: inherit;

	font-weight: 600;
}

.textarea {
	border: 1px solid var(--border-color);
	border-radius: 2px;
}
