.profile {
	margin-bottom: 30px;
}

.content {
	display: grid;
	grid-template-areas:
		"image userStat userStat"
		"image userStat userStat"
		"image userStat userStat"
		"action userInfo userInfo"
		"action userInfo userInfo"
		"action userInfo userInfo";
	grid-template-columns: 130px 1fr;
	column-gap: 20px;
	row-gap: 20px;
	grid-template-rows: auto auto 40px auto auto auto;
}

.mockImage {
	width: 130px;
	height: 145px;

	background-color: green;
	grid-area: image;
}

.action {
	grid-area: action;
}

.userStat {
	grid-area: userStat;
	align-self: flex-start;
}

.userInfo {
	grid-area: userInfo;
	grid-column: 2/-1;
	grid-row: 3/-1;
}

.topProfile {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 20px;
}

.topMenu {
	margin-bottom: 20px;
}

.lastOnline {
	padding: 3px;

	color: var(--white);
	border-radius: 3px;
	background-color: #777;

	font-size: 12px;
}

.action button {
	display: block;

	margin-bottom: 5px;

	cursor: pointer;

	color: var(--link-color);
	border: none;
	background-color: transparent;
}

.right {
	flex: 1 1 auto;
}

.fullName {
	margin-bottom: 5px;

	font-size: 18px;
	font-weight: 700;
}

.rating {
	margin-bottom: 5px;

	font-weight: 700;
}

.rating span {
	padding: 2px 5px;

	color: rgb(241 238 232);
	border-radius: 4px;
	background-color: #5cb85c;

	font-size: 12px;
}

.beginWrite {
	margin-bottom: 5px;

	font-weight: 700;
}

.showStat {
	cursor: pointer;

	color: var(--link-color);
	border: none;
	background-color: transparent;
}

.topFriend {
	height: 30px;

	border-bottom: 1px solid var(--border-color);
}

.titleFriend {
	width: max-content;
	height: 100%;

	border-bottom: 1px solid black;
}

.friendsList {
	display: flex;
	column-gap: 8px;

	flex-wrap: wrap;
	row-gap: 8px;

	padding-top: 10px;
}

.userIcon {
	width: 18px;
	height: 18px;
}

.friend {
	display: flex;
	align-items: center;
	gap: 3px;

	color: var(--black-white);
}

.online {
	color: var(--link-color);
}

.online svg {
	fill: var(--link-color);
}

.friends {
	margin-bottom: 30px;
}

.addBook {
	padding: 8px 10px;
}

@media screen and (max-width: 480px) {
	.content {
		flex-direction: column;
		grid-template-areas:
			"image action"
			"image action"
			"image action"
			"userStat userStat"
			"userStat userStat"
			"userInfo userInfo"
			"userInfo userInfo";
		row-gap: 10px;
	}

	.userInfo {
		grid-column: 1/-1;
		grid-row: auto;
	}

	.userStat hr {
		margin-bottom: 0 !important;
	}
}
