.profile {
	margin-bottom: 30px;
}

.mockImage {
	width: 130px;
	height: 145px;
	margin-bottom: 20px;

	background-color: green;
}

.topProfile {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 20px;
}

.topMenu {
	margin-bottom: 20px;
}

.lastOnline {
	padding: 3px;

	color: var(--white);
	border-radius: 3px;
	background-color: #777;

	font-size: 12px;
}

.content {
	display: flex;
	gap: 20px;
}

.left button {
	display: block;

	margin-bottom: 5px;

	cursor: pointer;

	color: var(--link-color);
	border: none;
	background-color: transparent;
}

.right {
	flex: 1 1 auto;
}

.fullName {
	margin-bottom: 5px;

	font-size: 18px;
	font-weight: 700;
}

.rating {
	margin-bottom: 5px;

	font-weight: 700;
}

.rating span {
	padding: 2px 5px;

	color: rgb(241 238 232);
	border-radius: 4px;
	background-color: #5cb85c;

	font-size: 12px;
}

.beginWrite {
	margin-bottom: 5px;

	font-weight: 700;
}

.showStat {
	cursor: pointer;

	color: var(--link-color);
	border: none;
	background-color: transparent;
}

.topFriend {
	height: 30px;

	border-bottom: 1px solid var(--border-color);
}

.titleFriend {
	width: max-content;
	height: 100%;

	border-bottom: 1px solid black;
}

.friendsList {
	display: flex;
	column-gap: 8px;

	flex-wrap: wrap;
	row-gap: 8px;

	padding-top: 10px;
}

.userIcon {
	width: 18px;
	height: 18px;
}

.friend {
	display: flex;
	align-items: center;
	gap: 3px;

	color: var(--black-white);
}

.online {
	color: var(--link-color);
}

.online svg {
	fill: var(--link-color);
}

.friends {
	margin-bottom: 30px;
}

.addBook {
	padding: 8px 10px;
}
