@import "./reset.css";
@import "./helpers.css";

html,
body {
	overflow-x: hidden;

	margin: 0;
	padding: 0;

	color: var(--black-white);

	background-color: var(--background);

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: var(--font-size);
	font-weight: 400;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-size: 15px;
	--link-color: #202ab6;
	--bold-black-white: #453d3d;
	--black-white: #585858;
	--black-blue: #5963ec;
	--gray: #a3a6c5;
	--white: white;
	--white-blue: #838bfe;
	--white-green: #34d87b;
	--border-color: #ccc;
	--black: black;
	--red: #d9534f;
	--orange: #f0ad4e;
	--green: #5cb85c;
	--week-black: #777;
	--transparent-black: rgba(0, 0, 0, 0.5);
}
