@import "./reset.css";
@import "./helpers.css";

html,
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: var(--black-white);

	background-color: var(--background);

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: var(--font-size);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-size: 15px;

	--bold-black-white: #453d3d;
	--black-white: #585858;
	--black-blue: #5963ec;
	--gray: #a3a6c5;
	--white: white;
	--white-blue: #838bfe;
	--green: #34d87b;
	--black: black;
}
